//color
$c-p:purple;
$c-w:white;
$c-b:black;
$c-o:orange;
$c-p:hotpink;
$c-bl:rgb(58, 150, 242);
$c-g:gold;
$c-db:rgb(3, 3, 51);

//font-size
$h1:45px;
$h2:32px;
//$h3:
$h4:35px;
$h5:20px;
$p:19px;

//font-family
$font-f:'Nunito', sans-serif;
